header, aside, section, footer, {
  display: block}
body {
  background-image: url(http://www.uidownload.com/files/841/25/241/free-radiant-background.jpg);
  }
.header{
  background-color: #ccffcc;
  color: #3399ff;
  align-content: center;
  font-family: sans-serif;
  font-weight: 40px;
  font-size: 40px;
  padding-left: 50px;
  }
.guess{
  color: #6600cc;
  font-family: sans-serif;
  font-weight: 30px;
  font-size: 25px;
  }
h3{
  color: #6600cc;
  font-family: sans-serif;
  font-weight: 30px;
  font-size: 20px;
  }
.activities {
  display: block;
  color: #6600cc;
  font-family: sans-serif;
  font-weight: 25px;
  float: right;
  margin:2%auto;
  width:20%;
  padding:15px,15px,15px,30px;
  border: thin;
  box-sizing: border-box;
  }
.doing {
  font-size: 20px;
  font-weight: 30px;
  }
.content-box {
  box-sizing: border-box;
  margin:auto;
  border: 20px solid #cc00ff;
  width: 40%;
  text-align: center;
  background-color: #ccccff;
  font-family: sans-serif;
  font-weight: 25px;
  color: #660066;
  }
.color-list {
  width: 30%;
  margin: auto;
  text-align: left;
  }
.footer {
  background-color: #ccffcc;
  width: auto;
  color: #3399ff;
  font-family: sans-serif;
  font-weight: 40px;
  font-size: 30px;
  float: right;
  padding-left: 10px;
  }
